@font-face {
    font-family: 'AdobeGaramond';
    src: url('fonts/adobe-garamond-pro/Adobe-Garamond-Pro-Semibold_2011.ttf')format('truetype'), url('fonts/adobe-garamond-pro/Adobe-Garamond-Pro_2012.ttf')format('truetype');
}

body {
    font-size: 1.5em;
    -webkit-font-smoothing: antialiased;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-image: url('../images/backgroundImage-s.jpg');
}

[role='presentation'] {
    width: 6em;
}

.navigationBar {
    ul {
        margin-top: 0.25em;
        list-style-type: none;
        padding: 0;
        a {
            color: grey;
            font-size: 0.8em;
        }
    }
    .mediaLinks {
        li {
            margin: 0.5em 0.5em 0em 0.5em;
        }
    }
    .logoLeft {
        font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
        font-size: 1em;
        letter-spacing: -0.04em;
        a {
            color: black;
            text-decoration: none;
        }
        .logoRight {
            font-family: AdobeGaramond, Helvetica, Arial, sans-serif;
            margin-left: -0.3em;
        }
    }
}

#homeContainer {
    color: white;
    margin-top: 11em;
    h1 {
        font-size: 2em;
        margin: 3em 0em 0em 0em;
    }
    p {
        margin: 5em 0em;
    }
    .firstHomeMessage {
        text-align: center;
        font-size: 1.25em;
    }
    .secondHomeMessage {
        text-align: right;
        margin-right: 3.5em;
    }
}

#aboutMeContainer {
    display: none;
    margin-top: 15em;
    p {
        font-size: 1em;
    }
    h2 {
        margin-top: 0em;
        font-size: 1.5em;
    }
}

#projectsContainer {
    display: none;
    color: white;
    margin-top: 11em;
    h2 {
        font-size: 1.5em;
    }
    .col-sm-6 {
        color: lightgrey;
        h3 {
            font-size: 1.25em;
        }
        div {
            width: 100%;
        }
        .projectLivePage i {
            margin: 0.25em 0em 0.25em 33%;
        }
        .projectCodePage i {
            margin: 0em 0em 0em 1em;
        }
        #spotifyEventsFontAwesome,
        #pictionaryFontAwesome {
            margin: 0.25em 0em 0em 46%;
        }
    }
}

#interestsContainer {
    display: none;
    margin-top: 15.5em;
    h2 {
        margin: 0;
        font-size: 1.5em;
    }
    .col-sm-3 {
        h3 {
            font-size: 1.25em;
        }
        p {
            font-size: 1em;
        }
    }
}

@media only screen and (min-width: 450px) {
    #aboutMeContainer {
        margin-top: 12em;
    }
    .navigationBar {
        ul {
            ;
            a {
                font-size: .8em;
            }
        }
    }
    #projectsContainer {
        .col-sm-6 {
            .projectLivePage i {
                margin: 0.25em 0em 0.25em 40%;
            }
        }
    }
    [role='presentation'] {
        width: 7em;
    }
    #interestsContainer {
        display: none;
        margin-top: 12em;
    }
}

@media only screen and (min-width: 750px) {
    body {
        background-image: url('../images/backgroundImage-m.jpg');
    }
    #homeContainer {
        color: white;
        margin-top: 2em;
        h1 {
            font-size: 2.5em;
        }
        .firstHomeMessage {
            font-size: 1.5em;
        }
        .secondHomeMessage {
            font-size: 1.2em;
        }
    }
    #aboutMeContainer {
        display: none;
        margin-top: 5em;
        p {
            font-size: 1.2em;
        }
        h2 {
            margin-top: 0em;
            font-size: 2em;
        }
    }
    .navigationBar {
        ul {
            margin-top: 0.25em;
            list-style-type: none;
            padding: 0;
            a {
                color: grey;
                font-size: 1em;
            }
        }
    }
    [role='presentation'] {
        width: 8em;
    }
    #projectsContainer {
        margin-top: 3em;
        h2 {
            font-size: 2em;
        }
        .col-sm-6 {
            h3 {
                font-size: 1.5em;
            }
            .projectLivePage i {
                margin: 0.25em 0em 0.25em 36%;
            }
        }
    }
    #interestsContainer {
        margin-top: 5em;
        h2 {
            margin: 0;
            font-size: 2em;
        }
        .col-sm-3 {
            h3 {
                font-size: 1.5em;
            }
            p {
                font-size: 1.1em;
            }
        }
    }
}

@media only screen and (min-width: 950px) {
    body {
        background-image: url('../images/backgroundImage-l.jpg');
    }
    #projectsContainer {
        margin-top: 3em;
        h2 {
            font-size: 2.5em;
        }
        .col-sm-6 {
            h3 {
                font-size: 1.75em;
            }
            .projectLivePage i {
                margin: 0.25em 0em 0.25em 40%;
            }
        }
    }
}

@media only screen and (min-width: 1155px) {
    #projectsContainer {
        margin-top: 3em;
        h2 {
            font-size: 2.5em;
        }
        .col-sm-6 {
            h3 {
                font-size: 1.75em;
            }
            .projectLivePage i {
                margin: 0.25em 0em 0.25em 42%;
            }
            #spotifyEventsFontAwesome,
            #pictionaryFontAwesome {
                margin: 0.25em 0em 0em 47%;
            }
        }
    }
    #aboutMeContainer {
        display: none;
        margin-top: 5em;
        p {
            font-size: 1.4em;
        }
        h2 {
            margin-top: 0em;
            font-size: 2.25em;
        }
    }
    .navigationBar {
        ul {
            margin-top: 0.25em;
            list-style-type: none;
            padding: 0;
            a {
                color: grey;
                font-size: 1.25em;
            }
        }
    }
    [role='presentation'] {
        width: 9em;
    }
}
